body {
	margin-top: 90px;
}

.trading-block {
	background: white;
}

.trading-block > .trade_container > .media {
	background: white;
	border: 1px solid black;
}

.trading-block > .trade_container > .media > .media-left {
	min-width: 150px;
}

.trading-block > .trade_container > .media > .media-body {
	text-align: center;
}

.trading-block > .media {
	background: white;
	border: 1px solid black;
}

.trading-block > .media > .media-left {
	min-width: 150px;
}

.trading-block > .media > .media-body {
	text-align: center;
}

.tra {
	margin-right: 4px;
}

.req {
	margin-left: 4px;
}

ul {
	padding-left: 10px;
}

textarea {
	border: none;
	resize: none;
	height: 18px;
	outline: none;
	width: 100%;
	overflow: auto !important;
	text-align: center;
}

button {
	border: none;
	background: white;
	outline: none;
}