body {
	margin-top: 90px;
}

.chat {
	background: white;
}

.chat textarea {
	min-width: 100%;
	max-width: 100%;
	height: 50px;
	resize: none;
}

button {
	margin-bottom: 8px !important;
}

.acpt, .acpt:focus {
	background: #6f6;
	border: 1px solid black;
	outline: none !important;

}

.acpt:hover, .acpt:active {
	box-shadow: none;
	background: #6f6 !important;
	border: 1px solid black !important;
}

.decl, .decl:focus {
	background: #f66;
	border: 1px solid black;
	outline: none !important;

}

.decl:hover, .decl:active {
	box-shadow: none;
	background: #f66 !important;
	border: 1px solid black !important;
}

.input-group * {
	outline: none !important;
	height: 50px;
}