<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tradeoff</title>

    <!-- Bootstrap's CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static',filename='css/standard.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/page.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">    
          <ul class="nav navbar-nav navbar-left"></ul>
          <ul class="nav navbar-nav navbar-right">
            <a class="media navbar-btn" href="#">
              <div class="media-left">
                <img class="nav-user-pic" src="img/blank-profile.png">
              </div>
              <div class="media-body">
                {{ user }}
              </div>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="row sidebar">
            <div class="col-sm-12 box">
              <a>
                <ul>
                  <a href={{ url_for('add') }}>Your Trades</a>
                </ul>
              </a>
                <ul>
                  <a href={{ url_for('index') }}>Home</a>
                </ul>
              <a>
                <ul>
                  Recent Trades
                </ul>
              </a>
              <a>
                <ul>
                  <a href={{url_for('login')}}>Login</a>
                </ul>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <a href="{{url_for('results')}}"><div class="row matched-trade box">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  Item you are getting:
                  Toothpick
                </div>
                <div class="col-sm-6">
                  Item you are giving:
                  Apple
                </div>
              </div>
            </div>
          </div></a>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
